version: 1.0.{build}
image: Visual Studio 2017
configuration: Release

build:
  project: source\ConsoleControl.sln
  publish_nuget: true
  verbosity: minimal

# Deploy to Nuget and GitHub Releases.
deploy:
- provider: NuGet
  api_key:
    secure: TWio+nDN8Ew7+OH7J3tLcEoM6DmxrIwfAr+2Ag8ROWJUEnXyoSAZ/I1GxBgB0qMd
  on:
    APPVEYOR_REPO_TAG: true
- provider: GitHub
  auth_token:
    secure: KTWUORrnJKPKLSf/3ROLY50T9UfgTMnKHf3OjBOv8tlY/DAxtlglRU3eM+j45fMt
  artifact: ConsoleControl.nupkg, ConsoleControl.WPF.nupkg
  on:
    APPVEYOR_REPO_TAG: true
